header {
    font-family: "Merriweather", serif;
}


div>h4 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}

div>h2 {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}

.header-section {
    align-items: center;
    background-image: url('../resources/Banner\ Image.png');
    background: rgb(7, 2, 17) rgba(7, 2, 17, 0);
    background-repeat: no-repeat;
    background-position: center;

}

.new-year {
    text-align: center;
    padding: 175px 340px;
}

.discount-offer {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}

.offer-para {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0px;
}

.offer-catagory {
    olor: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}

.offer-section {
    text-align: center;
    margin-top: 60px;
}

.welcome-party-section {
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    text-align: left;
    align-items: center;
    margin-top: 120px;

}

.welcome {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 0px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: 0px;
    padding: 16px 32px 16px 32px;
    margin-top: 0px;
}

.party-description {
    padding-left: 350px;
}

.welcome-image {
    margin-left: 60px;
    padding: 65px 135px 65px 0px;
}

.bonus-section {
    display: flex;
    padding: 120px 140px;
    gap: 118px;
    align-items: center;
}

.bonus-picture {
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
}

.bonus-year {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.portfolio-section {
    margin: 120px 140px;
}

.best {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.portfolio-header {
    olor: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 0px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.first-picture {
    display: flex;
    gap: 24px;
    margin-bottom: 0px;
    transition: background-color 0.5s;
}

.second-picture {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.first-picture:hover {
    background-color: red;
}

.second-picture:hover {
    background-color: red;
}

.newsletter-section {
    margin: 120px 140px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-header {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.newsletter-div {
    padding: 80px 212px;
}

.button {
    border-radius: 0px 50px 50px 0px;
    margin-right: 0px;
}

.email-input {
    border-radius: 50px 0px 0px 50px;
    background: rgb(255, 255, 255);
    margin-left: 0px;
    padding: 21px 450px 21px 30px;
    border: 0px;
}

.footer-section {
    background: rgb(7, 2, 17);


}

.footer-first-part {
    display: flex;
    justify-content: space-between;
    padding: 120px 140px;
}

.footer-call {
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    gap: 10px;
}

.footer-description {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.line {
    border: 1px solid rgba(255, 255, 255, 0.178);
}

.footer-images {

    height: 64px;
    width: 64px;
    display: flex;
    gap: 24px;
    padding: 48px 750px;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    padding: 50px 140px 120px 140px;
}